@layer reset, base, tokens, recipes, utilities;

@import "./fonts.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colors-paper);
  color: var(--colors-ink);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
